<!-- <p>
  home works!
</p> -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-md-8">
      <ul class="main-menu">
        <li><a routerLink="/main">Главная</a></li> 
      </ul>
    </div>
    <div class="col-md-4">
          <ul>
          <li class="list-inline">
          <img src="http://i.imgur.com/GNdhDFK.png" class="img-circle size padding" alt="example"/>
          <a routerLink="/profile">{{userName}}</a>
          <button type="button" class="btn btn-default navbar-btn signout" (click)="SignOut()">Выйти</button>
        </li>
          </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
