<!-- <p>
  profile works!
</p> -->

<div class="container">
    <div class="row carousel-holder">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8 col-md-offset-3 col-xs-offset-0">
                        <div class="panel panel-default">
                            <div class="panel-heading">Мой профиль</div>
                            <div class="panel-body" *ngIf="ProfileForm">
                                <form [formGroup]="ProfileForm" (ngSubmit)="save($event)" novalidate>
                                    <div [ngClass]="{'form-group': true,  'no-mb': true,  'has-success': ProfileForm.controls.name.valid}">
                                        <label>ФИО</label>
                                        <div class="input-group">
                                            <input formControlName="name"  type="text" class="form-control" aria-describedby="basic-addon1">
                                        </div>
                                        <!-- <div *ngIf="ProfileForm.controls.name.invalid && ( ProfileForm.controls.name.dirty || ProfileForm.controls.name.touched )">
                                            <small *ngIf="ProfileForm.controls.name.errors.required" class="form-text text-danger">ten la truong bat buoc nha.</small>
                                        </div> -->
                                    </div>
                                     <br>
                                    <div [ngClass]="{'form-group': true,  'no-mb': true,  'has-success': ProfileForm.controls.city.valid}">
                                        <label>Город</label>
                                        <div class="input-group">
                                            <input formControlName="city" type="text" class="form-control"  name="city" [(ngModel)]="city" aria-describedby="basic-addon1">
                                        </div>
                                        <!-- <div *ngIf="ProfileForm.controls.city.invalid && ( ProfileForm.controls.city.dirty || ProfileForm.controls.city.touched )">
                                            <small *ngIf="ProfileForm.controls.city.errors.required" class="form-text text-danger">email la truong bat buoc nha.</small>
                                        </div> -->
                                    </div>
                                     <br>
                                    <div [ngClass]="{'form-group': true,  'no-mb': true,  'has-success': ProfileForm.controls.phone.valid}">
                                        <label>Телефон</label>
                                        <div class="input-group">
                                            <!-- <span class="input-group-addon" id="basic-addon1">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </span> -->
                                            <input formControlName="phone" type="text" class="form-control"  name="phone" [(ngModel)]="phone" aria-describedby="basic-addon1">
                                        </div>
                                        <!-- <div *ngIf="ProfileForm.controls.password.invalid && ( ProfileForm.controls.password.dirty || ProfileForm.controls.password.touched )">
                                            <small *ngIf="ProfileForm.controls.password.errors.required" class="form-text text-danger">mat khau la truong bat buoc nha.</small>
                                            <small *ngIf="ProfileForm.controls.password.errors.minlength && !ProfileForm.controls.password.errors.required" class="form-text text-danger">mat khau it nhat 6 ky tu.</small>
                                        </div> -->
                                    </div>
                                    <br>
                                    <!-- <div [ngClass]="{'form-group': true,  'no-mb': true,  'has-success': ProfileForm.controls.repassword.valid}">
                                        <label>Nhập lại mật khẩu</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">
                                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                            </span>
                                            <input formControlName="repassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="passwordAgain" aria-describedby="basic-addon1">
                                        </div>
                                        <div *ngIf="ProfileForm.controls.repassword.invalid && ( ProfileForm.controls.repassword.dirty || ProfileForm.controls.repassword.touched )">
                                            <small *ngIf="ProfileForm.controls.repassword.errors.required" class="form-text text-danger">rmk la truong bat buoc nha.</small>
                                            <small *ngIf="ProfileForm.controls.repassword.errors.matched && !ProfileForm.controls.repassword.errors.required" class="form-text text-danger">mat khau khoong trung truong ben tren.</small>
                                        </div>
                                    </div>   -->
                                    <br>
                                    <div class="form-footer centered">
                                        <button [disabled]="!ProfileForm.valid" type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        <div class="panel-heading">
                            Сменить аватар
                        </div>
                        <div class="panel-body">
                            <image-app-cropper></image-app-cropper>
                        </div>
                        <div class="panel-heading">
                                Загрузка Фотографий и  файлов
                            </div>  
                            <div class="panel-body">
                                <upload-form></upload-form>   
                            </div> 
                        </div>
                    </div>
                </div>
            <!-- <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8 col-md-offset-3 col-xs-offset-0">
                    <div class="panel panel-default">

                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8 col-md-offset-3 col-xs-offset-0">
                        <div class="panel panel-default">
     
                        </div>    
                    </div>    
                </div>    
            </div>     -->
            </div>
</div>



